body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
  width: 100%;
}

.custom-tooltip .tooltip-table {
  padding: 5px;
  background-color: white;
  border: 1px solid #333;
  border-radius: 5px;
}

.custom-tooltip .tooltip-heading {
  text-align: center;
  font-size: 16px;  /* Increase font size */
  margin-bottom: 10px;
  font-weight: bold;
}
/* Style the table inside the tooltip */
.custom-tooltip .tooltip-table table {
  border-collapse: collapse;
  width: 80%;
}

.custom-tooltip .tooltip-table table td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  text-align: center;

}

.custom-tooltip .tooltip-table table td:first-child {
  font-weight: bold;
  width: 50%;
  text-align: center;

}

.custom-tooltip .tooltip-table table td:last-child {
  width: 50%;
  text-align: center;
}

/* Optional: Add a small shadow for tooltip effect */
.leaflet-tooltip.custom-tooltip {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  font-size: 12px;
}

/* CSS from the leaflet-choropleth documentation */
.legend {
  color: #555;
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}
.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}
.legend .min {
  float: left;
  padding-bottom: 5px;
}
.legend .max {
  float: right;
}

h1 {
  text-align: center;
}
